# ambiente
# development | staging | production
NODE_ENV=development
SITE_URL=https://nucleodedados.com

# emailjs - envio de formulário
EMAILJS_PUBLIC_KEY= 
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=

# notificações whatsapp
CALLMEBOT_PHONE=
CALLMEBOT_APIKEY=

# whatsapp comercial
WHATSAPP_NUMBER=